/* Font 1 Import */
@font-face {
    font-family: "ClaFont";
    src: url("/Frontend/static/fonts/clacon2.ttf") format(truetype);
}

/* Font 2 Import */
@font-face {
    font-family: "UniFont";
    src: url("/Frontend/static/fonts/unifont-17.0.03.otf") format(opentype);
}

/* Body Section */
body{
background-color: black;
font-family: "ClaFont";
color: white;
padding: 20px;
}

/* Main Section */
.main{
    padding: 20px;
    border: 5px #4E31AA double;
    box-sizing: border-box;
}

/* Header Section */
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.header-logo{
    height: auto;
    width: 100px;
    max-width: 105px;
}

.dateandtime{
    justify-items: end;
}

/* Other Section */
.container {
  width: 90%;          
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;          
}

.column {
  flex: 1;            
  width: calc((100% - 40px) / 2); 
  background: black;
  border: #4E31AA dotted ;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"],
input[type="text"]{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type="submit"]{
    background-color: #4E31AA ;
    color: white;
    padding: 10px, 15px;
    border: 10px;
    border-radius: 5%;
    cursor: pointer;
    font-size: 15px;
}
input[type="submit"]:hover{
    background-color: #3A1078;
}